/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
@font-face {
  font-family: "heyComic";
  src: url("./assets/fonts/HeyComic/HeyComic.ttf"),
    url("./assets/fonts/HeyComic/HeyComic.otf");
}
@font-face {
  font-family: "rosemary";
  src: url("./assets/fonts/Rosemary4/Rosemary.otf");
}
@font-face {
  font-family: "vlogger";
  src: url("./assets/fonts/Vlogger2/Vlogger.otf");
}
@font-face {
  font-family: "boldlyMissy";
  src: url("./assets/fonts/BoldlyMissy/BoldlyMissy.otf");
}
@font-face {
  font-family: "dirtyDuo";
  src: url("./assets/fonts/DirtyDuo/dirtyduo.ttf"),
    url("./assets/fonts/DirtyDuo/dirtyduo_bold.ttf"),
    url("./assets/fonts/DirtyDuo/dirtyduo_italic.ttf"),
    url("./assets/fonts/DirtyDuo/dirtyduo_bolditalic.ttf");
}
@font-face {
  font-family: "postHuman";
  src: url("./assets/fonts/PostHuman/posthuman.ttf");
}
@font-face {
  font-family: "vampiress";
  src: url("./assets/fonts/Vampiress/vampiress.ttf");
}
@font-face {
  font-family: "hadijah";
  src: url("./assets/fonts/HadijahFont/HadijahFreeTrial-0Wqzv.ttf");
}
@font-face {
  font-family: "romavich";
  src: url("./assets/fonts/RomavichFont/RomavichRegular-z8wW1.ttf"),
    url("./assets/fonts/RomavichFont/RomavichRegular-jE6Mv.otf");
}
@font-face {
  font-family: "timesRoman";
  src: url("./assets/fonts/TimesRoman/OPTITimes-Roman.otf"),
    url("./assets/fonts/TimesRoman/OPTITimesRoman-Italic.otf");
}
@font-face {
  font-family: "fancyCard";
  src: url("./assets/fonts/FancyCard/FancyCardText.ttf");
}
@font-face {
  font-family: "courtrai";
  src: url("./assets/fonts/Courtrai/Courtrai.ttf");
}
@font-face {
  font-family: "adlibitum";
  src: url("./assets/fonts/Adlibitum/AdlibitumTRIAL.ttf"),
    url("./assets/fonts/Adlibitum/Adlibitum_BoldTRIAL.ttf"),
    url("./assets/fonts/Adlibitum/Adlibitum_LightTRIAL.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* p {
  font-family: "heyComic";
  font-family: "rosemary";
  font-family: "vlogger";
  font-family: "boldlyMissy";
  font-family: "dirtyDuo";
  font-family: "postHuman";
  font-family: "vampiress";
} */
